 <% if @user.errors.any? %>
    <div><%= @user.errors.count %>件のerrorがあります。
    </div>
    <div>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1>User info</h1>

<%= form_for(@user) do |f| %>

<p>Name</p>
<%= f.text_field :name %>

<p>Image</p>
<%= f.attachment_field :profile_image %>

<p>Introduction</p>
<%= f.text_area :introduction %>

<%= f.submit "Update User"%>

<% end %>