<!DOCTYPE html>
<html>
  <head>
    <title>BookersApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="container" style="background-color: black; color: white">
     <div class="row">
      <div class="col-xs-4">

    <h4 class="title" style="margin-top: 0; margin-bottom: 5px;">Bookers</h4>

     </div>
     <div class="col-xs-8" style="line-height: 40px">

    <nav class="nav-field">
     <ul class="nav-list text-right">
      <span class="text-right">
      <% if user_signed_in? %>
        <li class="glyphicon glyphicon-home btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "Home", user_path(current_user) %>
        </li>
        <li class="glyphicon glyphicon-user btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "Users", users_path %>
        </li>
        <li  class="glyphicon glyphicon-book btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "Books", books_path %>
        </li>
        <li class="glyphicon glyphicon-log-out btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "logout",destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="glyphicon glyphicon-home btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "Home", root_path %>
        </li>
        <li class="glyphicon glyphicon-link btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "About", home_about_path %>
        </li>
        <li class="glyphicon glyphicon-edit btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "Sign up",new_user_registration_path %>

        </li>
        <li class="glyphicon glyphicon-log-in btn btn-default" aria-hidden="true" style="background-color: black; color: white; border-color: black;">
          <%= link_to "login", new_user_session_path %>
        </li>
      </span>
      <% end %>
     </ul>
    </nav>

    </div>
  </div>
</div>

  </header>

    <%= yield %>


<div class="container">
 <div class="row">
  <div class="col-xs-12">
    <footer class="foot text-right">
      <h5>CopyRight Infratop.inc </h5>
    </footer>
 </div>
</div>
</div>

  </body>
</html>
